

.landing{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: ;
  background: black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* visibility: hidden; */
}
.landing .logo{
  background:url('./img/minecraft-logo-angle-text.png') center/cover no-repeat  ;
  width: 100%;
  margin-top: 10px;
  
}
.landing .logo#low,
.landing .logo#high{
  opacity: 0.05;
}
.starter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start{
  font-size: 3rem;
  background: #c6c6c6;
  width: 40%;
  text-align: center;
}
.start:hover{
  background: #888888;
  cursor: pointer;
}
/* globals */
:root {
  --world-size : 30;
}
*{
  box-sizing: border-box;
  padding: 0;
  font-family: 'minecraft';
  margin: 0;
}
@font-face {
  font-family: 'minecraft';
  src:  url('./fonts/Minecraft.ttf') format('truetype');
}
body {
  height: 100vh;
  font-family: 'minecraft';
  color: black;
  position: relative;
}

/*  */
#game {
  width: 100%;;
  /* border: 1px solid black; */
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 100vh 1fr 1fr;
  background: #888888;
}
#world {
  max-height: 100%;
  /* border: 10px solid #c6c6c6; */
  display: grid;
  grid-template-columns: repeat(var(--world-size), auto);
  grid-template-rows: repeat(var(--world-size), auto);
  grid-gap: 0;
  grid-column: 2 / 2;
  border: 2px black solid;
}
/*  */

/* side-bar */
#sidebar {
  display: grid;
  /* border: 1px black solid; */
}
#tools {
  /* border: 1px red solid; */
  background: #c6c6c6;
  display: grid;
  grid-template-rows:  1fr 1fr 1fr;
  align-items: center;
  
  justify-content: center;
  
}
div .tool{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  color: #c6c6c6;
}
div .tool:hover,
#mat:hover{
  
  box-shadow: 5px 5px #888888;
  cursor: pointer;
}
.tooltiptext{
  visibility: hidden;
  background-color: #949090;
  width: 300px;
  color: black;
  
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  left: 22rem;
}
div .tool:hover .tooltiptext{
  visibility: visible;
}
/* tools  */
[data-type="t0"]{
  background:url(./img/PinClipart.com_shovel-clip-art_3735821.png) center no-repeat ;
  background-size: 80% 80%;
}
[data-type="t1"]{
  background:url(./img/PinClipart.com_axe-clip-art_5397833.png) center no-repeat ;
  background-size: 80% 80%;
}
[data-type="t2"]{
  background:url(./img/PinClipart.com_minecraft-birthday-clipart_751039.png) center no-repeat ;
  background-size: 80% 80%;
}

/* inventory */
#matiriales-container{
  border: 1px solid rgb(46, 9, 148);
  background: #c6c6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
  align-items: center;

}
#mat-0{
  margin: 1px;
  background: url('./img/dirt_inv.jpg');
  background-position: center center;
  background-size: cover;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-direction: column-reverse;
  
}
#mat{
  margin: 1px;
  /* background: url('./img/wood_inv.jpg'); */
  background-position: center center;
  background-size: cover;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-direction: column-reverse;
}
#mat.cl-0{
  background:url('./img/dirt_inv.jpg');
}
#mat.cl-1{
  background:url('./img/wood_inv.jpg');
}
#mat.cl-2{
  background:url('./img/Grass_top.png');
}
#mat.cl-3{
  background:url('./img/stone_block.png');
  margin-right: 10px;
}

/* matiriales and tiles*/
.tile {
  background: rgb(38, 0, 255);
  border: 1px dotted rgba(255, 255, 255, 0.1);
}
.tile:hover{
  border: 1px dotted red;
}

[data-type="dirt"]{
  background:url(./img/dirt_block.jpg);
  background-size: 100% 100%;
}
[data-type="cloud"]{
  background: white;
}
[data-type="sky"]{
  background:rgb(38, 0, 255);
}
[data-type="grass"]{
  background:url(./img/Grass_top.png);
  background-size: 100% 100%;
}
[data-type="tree-base"]{
  background:url(./img/tree_trunk_block.jfif);
  background-size: 100% 100%;
}
[data-type="tree-lif"]{
  background:url(./img/leaf.jfif);
  background-size: 100% 100%;
}
[data-type="sun"]{
  background:rgb(241, 245, 37);
}
[data-type="stone"]{
  background:url(./img/stone.jpg);
  background-size: 100% 100%;
}
/* chosen class */
.chosen{
  border: 3px red solid;
}


.rotate{
  width: 100vw;
  height: 100vh;
  background: #c6c6c6;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
  visibility: hidden;
}

/* Responsive Media's */
/* landscape */
@media only screen and (max-width: 812px) {
  /* For mobile phones: */
  body, html { overflow-x:hidden; }
  #game {
    max-width: 100vw;;
    /* border: 1px solid black; */
    height: 100vh;
    display: grid;
    grid-template-columns: 10fr 100fr 30fr 10fr;  ;
    /* background: red; */
    
  }
  .tooltiptext{
    visibility: hidden;
    background-color: #949090;
    width: 300px;
    color: black;
    
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 10rem;
  }
  .landing{
    height: 100%;
    max-width: 100vw;
    /* background: red; */
  }
  
}


/* horizontal phone */
@media only screen and (max-width: 500px) {
  
  body, html { overflow-x:hidden; }
  .rotate{visibility: visible;}
  
}
.selected{
  box-shadow: 5px 5px #888888;
}